# Built artifacts
*.apk
*.aab
*.ap_
*.dex

# Build dirs
build/
.gradle/
local.properties

# Android Studio
*.iml
.idea/
.DS_Store
captures/
.externalNativeBuild/
.cxx/

# Kotlin
*.class

# Logs
*.log

# Generated
gen/
generated/

# Google services
google-services.json
